apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-app
  namespace: nginx-demo
spec:
  replicas: 5
  selector:
    matchLabels:
      app: nginx-app
  template:
    metadata:
      labels:
      app: nginx-app
    spec:
      containers:
      - name: nginx
        image: nginx:1.27.2-alpine   # ← новая версия, которую будем деплоить
        ports:
        - containerPort: 80